<a href="https://colab.research.google.com/github/cglima/municipios-ibge/blob/main/Municipios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
cidades = pd.read_json('https://servicodados.ibge.gov.br/api/v1/localidades/municipios')
cidades

,id,nome,microrregiao,regiao-imediata
0,1100015,Alta Floresta D'Oeste,"{'id': 11006, 'nome': 'Cacoal', 'mesorregiao':...","{'id': 110005, 'nome': 'Cacoal', 'regiao-inter..."
1,1100023,Ariquemes,"{'id': 11003, 'nome': 'Ariquemes', 'mesorregia...","{'id': 110002, 'nome': 'Ariquemes', 'regiao-in..."
2,1100031,Cabixi,"{'id': 11008, 'nome': 'Colorado do Oeste', 'me...","{'id': 110006, 'nome': 'Vilhena', 'regiao-inte..."
3,1100049,Cacoal,"{'id': 11006, 'nome': 'Cacoal', 'mesorregiao':...","{'id': 110005, 'nome': 'Cacoal', 'regiao-inter..."
4,1100056,Cerejeiras,"{'id': 11008, 'nome': 'Colorado do Oeste', 'me...","{'id': 110006, 'nome': 'Vilhena', 'regiao-inte..."
...,...,...,...,...
5565,5222005,Vianópolis,"{'id': 52016, 'nome': 'Pires do Rio', 'mesorre...","{'id': 520002, 'nome': 'Anápolis', 'regiao-int..."
5566,5222054,Vicentinópolis,"{'id': 52015, 'nome': 'Meia Ponte', 'mesorregi...","{'id': 520009, 'nome': 'Piracanjuba', 'regiao-..."
5567,5222203,Vila Boa,"{'id': 52012, 'nome': 'Entorno de Brasília', '...","{'id': 520022, 'nome': 'Flores de Goiás', 'reg..."
5568,5222302,Vila Propício,"{'id': 52012, 'nome': 'Entorno de Brasília', '...","{'id': 520018, 'nome': 'Ceres - Rialma - Goian..."
5569,5300108,Brasília,"{'id': 53001, 'nome': 'Brasília', 'mesorregiao...","{'id': 530001, 'nome': 'Distrito Federal', 're..."

In [3]:
micro = pd.json_normalize(data=cidades.microrregiao).rename(columns={
    'id': 'microrregiao_id', 
    'nome': 'microrregiao_nome', 
    'mesorregiao.id': 'mesorregiao_id',
    'mesorregiao.nome': 'mesorregiao_nome',
    'mesorregiao.UF.id': 'uf_id',
    'mesorregiao.UF.nome': 'uf_nome',
    'mesorregiao.UF.sigla': 'uf_sigla',
    'mesorregiao.UF.regiao.id': 'regiao_id',
    'mesorregiao.UF.regiao.sigla': 'regiao_sigla',
    'mesorregiao.UF.regiao.nome': 'regiao_nome',    
})
micro

,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,11006,Cacoal,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
1,11003,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
2,11008,Colorado do Oeste,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
3,11006,Cacoal,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
4,11008,Colorado do Oeste,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
...,...,...,...,...,...,...,...,...,...,...
5565,52016,Pires do Rio,5205,Sul Goiano,52,GO,Goiás,5,CO,Centro-Oeste
5566,52015,Meia Ponte,5205,Sul Goiano,52,GO,Goiás,5,CO,Centro-Oeste
5567,52012,Entorno de Brasília,5204,Leste Goiano,52,GO,Goiás,5,CO,Centro-Oeste
5568,52012,Entorno de Brasília,5204,Leste Goiano,52,GO,Goiás,5,CO,Centro-Oeste
5569,53001,Brasília,5301,Distrito Federal,53,DF,Distrito Federal,5,CO,Centro-Oeste

In [4]:
nome_id_municipio = cidades[['id', 'nome']].rename(columns={'id': 'municipio_id', 'nome': 'municipio_nome'})
nome_id_municipio

      municipio_id         municipio_nome
0          1100015  Alta Floresta D'Oeste
1          1100023              Ariquemes
2          1100031                 Cabixi
3          1100049                 Cacoal
4          1100056             Cerejeiras
...            ...                    ...
5565       5222005             Vianópolis
5566       5222054         Vicentinópolis
5567       5222203               Vila Boa
5568       5222302          Vila Propício
5569       5300108               Brasília

[5570 rows x 2 columns]

In [5]:
municipios = nome_id_municipio.join(micro)
municipios

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,1100015,Alta Floresta D'Oeste,11006,Cacoal,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
1,1100023,Ariquemes,11003,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
2,1100031,Cabixi,11008,Colorado do Oeste,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
3,1100049,Cacoal,11006,Cacoal,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
4,1100056,Cerejeiras,11008,Colorado do Oeste,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,Vianópolis,52016,Pires do Rio,5205,Sul Goiano,52,GO,Goiás,5,CO,Centro-Oeste
5566,5222054,Vicentinópolis,52015,Meia Ponte,5205,Sul Goiano,52,GO,Goiás,5,CO,Centro-Oeste
5567,5222203,Vila Boa,52012,Entorno de Brasília,5204,Leste Goiano,52,GO,Goiás,5,CO,Centro-Oeste
5568,5222302,Vila Propício,52012,Entorno de Brasília,5204,Leste Goiano,52,GO,Goiás,5,CO,Centro-Oeste
5569,5300108,Brasília,53001,Brasília,5301,Distrito Federal,53,DF,Distrito Federal,5,CO,Centro-Oeste

In [7]:
microrregioes = municipios.groupby(by="microrregiao_nome")
microrregioes = microrregioes.first()
microrregioes

,municipio_id,municipio_nome,microrregiao_id,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
microrregiao_nome,,,,,,,,,,,
Adamantina,3500105,Adamantina,35035,3508,Presidente Prudente,35,SP,São Paulo,3,SE,Sudeste
Afonso Cláudio,3200102,Afonso Cláudio,32007,3203,Central Espírito-santense,32,ES,Espírito Santo,3,SE,Sudeste
Aglomeração Urbana de São Luís,2107506,Paço do Lumiar,21002,2101,Norte Maranhense,21,MA,Maranhão,2,NE,Nordeste
Agreste Potiguar,2401701,Bom Jesus,24015,2403,Agreste Potiguar,24,RN,Rio Grande do Norte,2,NE,Nordeste
Agreste de Itabaiana,2800506,Areia Branca,28004,2802,Agreste Sergipano,28,SE,Sergipe,2,NE,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...
Várzea Alegre,2300804,Antonina do Norte,23027,2306,Centro-Sul Cearense,23,CE,Ceará,2,NE,Nordeste
Vão do Paranã,5200803,Alvorada do Norte,52011,5204,Leste Goiano,52,GO,Goiás,5,CO,Centro-Oeste
Wenceslau Braz,4104709,Carlópolis,41018,4104,Norte Pioneiro Paranaense,41,PR,Paraná,4,S,Sul
Xanxerê,4200101,Abelardo Luz,42003,4201,Oeste Catarinense,42,SC,Santa Catarina,4,S,Sul
Óbidos,1503002,Faro,15001,1501,Baixo Amazonas,15,PA,Pará,1,N,Norte

In [8]:
type(microrregioes)

pandas.core.frame.DataFrame

In [9]:
microrregioes.reset_index(inplace=True)
microrregioes

,microrregiao_nome,municipio_id,municipio_nome,microrregiao_id,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,Adamantina,3500105,Adamantina,35035,3508,Presidente Prudente,35,SP,São Paulo,3,SE,Sudeste
1,Afonso Cláudio,3200102,Afonso Cláudio,32007,3203,Central Espírito-santense,32,ES,Espírito Santo,3,SE,Sudeste
2,Aglomeração Urbana de São Luís,2107506,Paço do Lumiar,21002,2101,Norte Maranhense,21,MA,Maranhão,2,NE,Nordeste
3,Agreste Potiguar,2401701,Bom Jesus,24015,2403,Agreste Potiguar,24,RN,Rio Grande do Norte,2,NE,Nordeste
4,Agreste de Itabaiana,2800506,Areia Branca,28004,2802,Agreste Sergipano,28,SE,Sergipe,2,NE,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...
549,Várzea Alegre,2300804,Antonina do Norte,23027,2306,Centro-Sul Cearense,23,CE,Ceará,2,NE,Nordeste
550,Vão do Paranã,5200803,Alvorada do Norte,52011,5204,Leste Goiano,52,GO,Goiás,5,CO,Centro-Oeste
551,Wenceslau Braz,4104709,Carlópolis,41018,4104,Norte Pioneiro Paranaense,41,PR,Paraná,4,S,Sul
552,Xanxerê,4200101,Abelardo Luz,42003,4201,Oeste Catarinense,42,SC,Santa Catarina,4,S,Sul
553,Óbidos,1503002,Faro,15001,1501,Baixo Amazonas,15,PA,Pará,1,N,Norte

In [10]:
microrregioes = microrregioes[['municipio_id', 'municipio_nome',
                               'microrregiao_id', 'microrregiao_nome',
                               'mesorregiao_id', 'mesorregiao_nome', 
                              'uf_id', 'uf_sigla', 'uf_nome',
                               'regiao_id', 'regiao_sigla', 'regiao_nome']]
microrregioes

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,3500105,Adamantina,35035,Adamantina,3508,Presidente Prudente,35,SP,São Paulo,3,SE,Sudeste
1,3200102,Afonso Cláudio,32007,Afonso Cláudio,3203,Central Espírito-santense,32,ES,Espírito Santo,3,SE,Sudeste
2,2107506,Paço do Lumiar,21002,Aglomeração Urbana de São Luís,2101,Norte Maranhense,21,MA,Maranhão,2,NE,Nordeste
3,2401701,Bom Jesus,24015,Agreste Potiguar,2403,Agreste Potiguar,24,RN,Rio Grande do Norte,2,NE,Nordeste
4,2800506,Areia Branca,28004,Agreste de Itabaiana,2802,Agreste Sergipano,28,SE,Sergipe,2,NE,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...
549,2300804,Antonina do Norte,23027,Várzea Alegre,2306,Centro-Sul Cearense,23,CE,Ceará,2,NE,Nordeste
550,5200803,Alvorada do Norte,52011,Vão do Paranã,5204,Leste Goiano,52,GO,Goiás,5,CO,Centro-Oeste
551,4104709,Carlópolis,41018,Wenceslau Braz,4104,Norte Pioneiro Paranaense,41,PR,Paraná,4,S,Sul
552,4200101,Abelardo Luz,42003,Xanxerê,4201,Oeste Catarinense,42,SC,Santa Catarina,4,S,Sul
553,1503002,Faro,15001,Óbidos,1501,Baixo Amazonas,15,PA,Pará,1,N,Norte

In [11]:
microrregioes[['municipio_id', 'municipio_nome']] = None
microrregioes

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,None,None,35035,Adamantina,3508,Presidente Prudente,35,SP,São Paulo,3,SE,Sudeste
1,None,None,32007,Afonso Cláudio,3203,Central Espírito-santense,32,ES,Espírito Santo,3,SE,Sudeste
2,None,None,21002,Aglomeração Urbana de São Luís,2101,Norte Maranhense,21,MA,Maranhão,2,NE,Nordeste
3,None,None,24015,Agreste Potiguar,2403,Agreste Potiguar,24,RN,Rio Grande do Norte,2,NE,Nordeste
4,None,None,28004,Agreste de Itabaiana,2802,Agreste Sergipano,28,SE,Sergipe,2,NE,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...
549,None,None,23027,Várzea Alegre,2306,Centro-Sul Cearense,23,CE,Ceará,2,NE,Nordeste
550,None,None,52011,Vão do Paranã,5204,Leste Goiano,52,GO,Goiás,5,CO,Centro-Oeste
551,None,None,41018,Wenceslau Braz,4104,Norte Pioneiro Paranaense,41,PR,Paraná,4,S,Sul
552,None,None,42003,Xanxerê,4201,Oeste Catarinense,42,SC,Santa Catarina,4,S,Sul
553,None,None,15001,Óbidos,1501,Baixo Amazonas,15,PA,Pará,1,N,Norte

In [12]:
mesorregioes = microrregioes.groupby('mesorregiao_nome')
mesorregioes = mesorregioes.first()
mesorregioes.reset_index(inplace=True)
mesorregioes

,mesorregiao_nome,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,Agreste Alagoano,None,None,27006,Arapiraca,2702,27,AL,Alagoas,2,NE,Nordeste
1,Agreste Paraibano,None,None,25015,Brejo Paraibano,2503,25,PB,Paraíba,2,NE,Nordeste
2,Agreste Pernambucano,None,None,26009,Alto Capibaribe,2603,26,PE,Pernambuco,2,NE,Nordeste
3,Agreste Potiguar,None,None,24015,Agreste Potiguar,2403,24,RN,Rio Grande do Norte,2,NE,Nordeste
4,Agreste Sergipano,None,None,28004,Agreste de Itabaiana,2802,28,SE,Sergipe,2,NE,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...
132,Vale do Juruá,None,None,12001,Cruzeiro do Sul,1201,12,AC,Acre,1,N,Norte
133,Vale do Mucuri,None,None,31016,Nanuque,3104,31,MG,Minas Gerais,3,SE,Sudeste
134,Vale do Paraíba Paulista,None,None,35052,Bananal,3513,35,SP,São Paulo,3,SE,Sudeste
135,Vale do Rio Doce,None,None,31041,Aimorés,3108,31,MG,Minas Gerais,3,SE,Sudeste
136,Zona da Mata,None,None,31066,Cataguases,3112,31,MG,Minas Gerais,3,SE,Sudeste

In [13]:
mesorregioes = mesorregioes[['municipio_id', 'municipio_nome',
                               'microrregiao_id', 'microrregiao_nome',
                               'mesorregiao_id', 'mesorregiao_nome', 
                              'uf_id', 'uf_sigla', 'uf_nome',
                               'regiao_id', 'regiao_sigla', 'regiao_nome']]
mesorregioes

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,None,None,27006,Arapiraca,2702,Agreste Alagoano,27,AL,Alagoas,2,NE,Nordeste
1,None,None,25015,Brejo Paraibano,2503,Agreste Paraibano,25,PB,Paraíba,2,NE,Nordeste
2,None,None,26009,Alto Capibaribe,2603,Agreste Pernambucano,26,PE,Pernambuco,2,NE,Nordeste
3,None,None,24015,Agreste Potiguar,2403,Agreste Potiguar,24,RN,Rio Grande do Norte,2,NE,Nordeste
4,None,None,28004,Agreste de Itabaiana,2802,Agreste Sergipano,28,SE,Sergipe,2,NE,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...
132,None,None,12001,Cruzeiro do Sul,1201,Vale do Juruá,12,AC,Acre,1,N,Norte
133,None,None,31016,Nanuque,3104,Vale do Mucuri,31,MG,Minas Gerais,3,SE,Sudeste
134,None,None,35052,Bananal,3513,Vale do Paraíba Paulista,35,SP,São Paulo,3,SE,Sudeste
135,None,None,31041,Aimorés,3108,Vale do Rio Doce,31,MG,Minas Gerais,3,SE,Sudeste
136,None,None,31066,Cataguases,3112,Zona da Mata,31,MG,Minas Gerais,3,SE,Sudeste

In [14]:
mesorregioes[['microrregiao_id', 'microrregiao_nome']] = None
mesorregioes

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,None,None,None,None,2702,Agreste Alagoano,27,AL,Alagoas,2,NE,Nordeste
1,None,None,None,None,2503,Agreste Paraibano,25,PB,Paraíba,2,NE,Nordeste
2,None,None,None,None,2603,Agreste Pernambucano,26,PE,Pernambuco,2,NE,Nordeste
3,None,None,None,None,2403,Agreste Potiguar,24,RN,Rio Grande do Norte,2,NE,Nordeste
4,None,None,None,None,2802,Agreste Sergipano,28,SE,Sergipe,2,NE,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...
132,None,None,None,None,1201,Vale do Juruá,12,AC,Acre,1,N,Norte
133,None,None,None,None,3104,Vale do Mucuri,31,MG,Minas Gerais,3,SE,Sudeste
134,None,None,None,None,3513,Vale do Paraíba Paulista,35,SP,São Paulo,3,SE,Sudeste
135,None,None,None,None,3108,Vale do Rio Doce,31,MG,Minas Gerais,3,SE,Sudeste
136,None,None,None,None,3112,Zona da Mata,31,MG,Minas Gerais,3,SE,Sudeste

In [15]:
estados = mesorregioes.groupby('uf_nome')
estados = estados.first()
estados.reset_index(inplace=True)
estados

,uf_nome,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,regiao_id,regiao_sigla,regiao_nome
0,Acre,None,None,None,None,1202,Vale do Acre,12,AC,1,N,Norte
1,Alagoas,None,None,None,None,2702,Agreste Alagoano,27,AL,2,NE,Nordeste
2,Amapá,None,None,None,None,1601,Norte do Amapá,16,AP,1,N,Norte
3,Amazonas,None,None,None,None,1303,Centro Amazonense,13,AM,1,N,Norte
4,Bahia,None,None,None,None,2903,Centro Norte Baiano,29,BA,2,NE,Nordeste
5,Ceará,None,None,None,None,2306,Centro-Sul Cearense,23,CE,2,NE,Nordeste
6,Distrito Federal,None,None,None,None,5301,Distrito Federal,53,DF,5,CO,Centro-Oeste
7,Espírito Santo,None,None,None,None,3203,Central Espírito-santense,32,ES,3,SE,Sudeste
8,Goiás,None,None,None,None,5203,Centro Goiano,52,GO,5,CO,Centro-Oeste
9,Maranhão,None,None,None,None,2103,Centro Maranhense,21,MA,2,NE,Nordeste
10,Mato Grosso,None,None,None,None,5104,Centro-Sul Mato-grossense,51,MT,5,CO,Centro-Oeste
11,Mato Grosso do Sul,None,None,None,None,5002,Centro Norte de Mato Grosso do Sul,50,MS,5,CO,Centro-Oeste
12,Minas Gerais,None,None,None,None,3111,Campo das Vertentes,31,MG,3,SE,Sudeste
13,Paraná,None,None,None,None,4102,Centro Ocidental Paranaense,41,PR,4,S,Sul
14,Paraíba,None,None,None,None,2503,Agreste Paraibano,25,PB,2,NE,Nordeste
15,Pará,None,None,None,None,1501,Baixo Amazonas,15,PA,1,N,Norte
16,Pernambuco,None,None,None,None,2603,Agreste Pernambucano,26,PE,2,NE,Nordeste
17,Piauí,None,None,None,None,2202,Centro-Norte Piauiense,22,PI,2,NE,Nordeste
18,Rio Grande do Norte,None,None,None,None,2403,Agreste Potiguar,24,RN,2,NE,Nordeste
19,Rio Grande do Sul,None,None,None,None,4303,Centro Ocidental Rio-grandense,43,RS,4,S,Sul
20,Rio de Janeiro,None,None,None,None,3304,Baixadas,33,RJ,3,SE,Sudeste
21,Rondônia,None,None,None,None,1102,Leste Rondoniense,11,RO,1,N,Norte
22,Roraima,None,None,None,None,1401,Norte de Roraima,14,RR,1,N,Norte
23,Santa Catarina,None,None,None,None,4205,Grande Florianópolis,42,SC,4,S,Sul
24,Sergipe,None,None,None,None,2802,Agreste Sergipano,28,SE,2,NE,Nordeste
25,São Paulo,None,None,None,None,3505,Araraquara,35,SP,3,SE,Sudeste
26,Tocantins,None,None,None,None,1701,Ocidental do Tocantins,17,TO,1,N,Norte

In [16]:
estados = estados[['municipio_id', 'municipio_nome',
                               'microrregiao_id', 'microrregiao_nome',
                               'mesorregiao_id', 'mesorregiao_nome', 
                              'uf_id', 'uf_sigla', 'uf_nome',
                               'regiao_id', 'regiao_sigla', 'regiao_nome']]
estados

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,None,None,None,None,1202,Vale do Acre,12,AC,Acre,1,N,Norte
1,None,None,None,None,2702,Agreste Alagoano,27,AL,Alagoas,2,NE,Nordeste
2,None,None,None,None,1601,Norte do Amapá,16,AP,Amapá,1,N,Norte
3,None,None,None,None,1303,Centro Amazonense,13,AM,Amazonas,1,N,Norte
4,None,None,None,None,2903,Centro Norte Baiano,29,BA,Bahia,2,NE,Nordeste
5,None,None,None,None,2306,Centro-Sul Cearense,23,CE,Ceará,2,NE,Nordeste
6,None,None,None,None,5301,Distrito Federal,53,DF,Distrito Federal,5,CO,Centro-Oeste
7,None,None,None,None,3203,Central Espírito-santense,32,ES,Espírito Santo,3,SE,Sudeste
8,None,None,None,None,5203,Centro Goiano,52,GO,Goiás,5,CO,Centro-Oeste
9,None,None,None,None,2103,Centro Maranhense,21,MA,Maranhão,2,NE,Nordeste
10,None,None,None,None,5104,Centro-Sul Mato-grossense,51,MT,Mato Grosso,5,CO,Centro-Oeste
11,None,None,None,None,5002,Centro Norte de Mato Grosso do Sul,50,MS,Mato Grosso do Sul,5,CO,Centro-Oeste
12,None,None,None,None,3111,Campo das Vertentes,31,MG,Minas Gerais,3,SE,Sudeste
13,None,None,None,None,4102,Centro Ocidental Paranaense,41,PR,Paraná,4,S,Sul
14,None,None,None,None,2503,Agreste Paraibano,25,PB,Paraíba,2,NE,Nordeste
15,None,None,None,None,1501,Baixo Amazonas,15,PA,Pará,1,N,Norte
16,None,None,None,None,2603,Agreste Pernambucano,26,PE,Pernambuco,2,NE,Nordeste
17,None,None,None,None,2202,Centro-Norte Piauiense,22,PI,Piauí,2,NE,Nordeste
18,None,None,None,None,2403,Agreste Potiguar,24,RN,Rio Grande do Norte,2,NE,Nordeste
19,None,None,None,None,4303,Centro Ocidental Rio-grandense,43,RS,Rio Grande do Sul,4,S,Sul
20,None,None,None,None,3304,Baixadas,33,RJ,Rio de Janeiro,3,SE,Sudeste
21,None,None,None,None,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
22,None,None,None,None,1401,Norte de Roraima,14,RR,Roraima,1,N,Norte
23,None,None,None,None,4205,Grande Florianópolis,42,SC,Santa Catarina,4,S,Sul
24,None,None,None,None,2802,Agreste Sergipano,28,SE,Sergipe,2,NE,Nordeste
25,None,None,None,None,3505,Araraquara,35,SP,São Paulo,3,SE,Sudeste
26,None,None,None,None,1701,Ocidental do Tocantins,17,TO,Tocantins,1,N,Norte

In [17]:
estados[['mesorregiao_id', 'mesorregiao_nome']] = None
estados

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,None,None,None,None,None,None,12,AC,Acre,1,N,Norte
1,None,None,None,None,None,None,27,AL,Alagoas,2,NE,Nordeste
2,None,None,None,None,None,None,16,AP,Amapá,1,N,Norte
3,None,None,None,None,None,None,13,AM,Amazonas,1,N,Norte
4,None,None,None,None,None,None,29,BA,Bahia,2,NE,Nordeste
5,None,None,None,None,None,None,23,CE,Ceará,2,NE,Nordeste
6,None,None,None,None,None,None,53,DF,Distrito Federal,5,CO,Centro-Oeste
7,None,None,None,None,None,None,32,ES,Espírito Santo,3,SE,Sudeste
8,None,None,None,None,None,None,52,GO,Goiás,5,CO,Centro-Oeste
9,None,None,None,None,None,None,21,MA,Maranhão,2,NE,Nordeste
10,None,None,None,None,None,None,51,MT,Mato Grosso,5,CO,Centro-Oeste
11,None,None,None,None,None,None,50,MS,Mato Grosso do Sul,5,CO,Centro-Oeste
12,None,None,None,None,None,None,31,MG,Minas Gerais,3,SE,Sudeste
13,None,None,None,None,None,None,41,PR,Paraná,4,S,Sul
14,None,None,None,None,None,None,25,PB,Paraíba,2,NE,Nordeste
15,None,None,None,None,None,None,15,PA,Pará,1,N,Norte
16,None,None,None,None,None,None,26,PE,Pernambuco,2,NE,Nordeste
17,None,None,None,None,None,None,22,PI,Piauí,2,NE,Nordeste
18,None,None,None,None,None,None,24,RN,Rio Grande do Norte,2,NE,Nordeste
19,None,None,None,None,None,None,43,RS,Rio Grande do Sul,4,S,Sul
20,None,None,None,None,None,None,33,RJ,Rio de Janeiro,3,SE,Sudeste
21,None,None,None,None,None,None,11,RO,Rondônia,1,N,Norte
22,None,None,None,None,None,None,14,RR,Roraima,1,N,Norte
23,None,None,None,None,None,None,42,SC,Santa Catarina,4,S,Sul
24,None,None,None,None,None,None,28,SE,Sergipe,2,NE,Nordeste
25,None,None,None,None,None,None,35,SP,São Paulo,3,SE,Sudeste
26,None,None,None,None,None,None,17,TO,Tocantins,1,N,Norte

In [31]:
regioes = estados.groupby('regiao_nome')
regioes = regioes.first()
regioes.reset_index(inplace=True)
regioes

,regiao_nome,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla
0,Centro-Oeste,None,None,None,None,None,None,53,DF,Distrito Federal,5,CO
1,Nordeste,None,None,None,None,None,None,27,AL,Alagoas,2,NE
2,Norte,None,None,None,None,None,None,12,AC,Acre,1,N
3,Sudeste,None,None,None,None,None,None,32,ES,Espírito Santo,3,SE
4,Sul,None,None,None,None,None,None,41,PR,Paraná,4,S

In [32]:
regioes = regioes[['municipio_id', 'municipio_nome',
                               'microrregiao_id', 'microrregiao_nome',
                               'mesorregiao_id', 'mesorregiao_nome', 
                              'uf_id', 'uf_sigla', 'uf_nome',
                               'regiao_id', 'regiao_sigla', 'regiao_nome']]
regioes

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,None,None,None,None,None,None,53,DF,Distrito Federal,5,CO,Centro-Oeste
1,None,None,None,None,None,None,27,AL,Alagoas,2,NE,Nordeste
2,None,None,None,None,None,None,12,AC,Acre,1,N,Norte
3,None,None,None,None,None,None,32,ES,Espírito Santo,3,SE,Sudeste
4,None,None,None,None,None,None,41,PR,Paraná,4,S,Sul

In [20]:
regioes[['uf_id', 'uf_nome', 'uf_sigla']] = None
regioes

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,None,None,None,None,None,None,None,None,None,5,CO,Centro-Oeste
1,None,None,None,None,None,None,None,None,None,2,NE,Nordeste
2,None,None,None,None,None,None,None,None,None,1,N,Norte
3,None,None,None,None,None,None,None,None,None,3,SE,Sudeste
4,None,None,None,None,None,None,None,None,None,4,S,Sul

In [37]:
agrupados = pd.concat([municipios, microrregioes, mesorregioes, estados, regioes])
agrupados.reset_index(drop=True)

,municipio_id,municipio_nome,microrregiao_id,microrregiao_nome,mesorregiao_id,mesorregiao_nome,uf_id,uf_sigla,uf_nome,regiao_id,regiao_sigla,regiao_nome
0,1100015,Alta Floresta D'Oeste,11006,Cacoal,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
1,1100023,Ariquemes,11003,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
2,1100031,Cabixi,11008,Colorado do Oeste,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
3,1100049,Cacoal,11006,Cacoal,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
4,1100056,Cerejeiras,11008,Colorado do Oeste,1102,Leste Rondoniense,11,RO,Rondônia,1,N,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...
6288,None,None,None,None,None,None,53,DF,Distrito Federal,5,CO,Centro-Oeste
6289,None,None,None,None,None,None,27,AL,Alagoas,2,NE,Nordeste
6290,None,None,None,None,None,None,12,AC,Acre,1,N,Norte
6291,None,None,None,None,None,None,32,ES,Espírito Santo,3,SE,Sudeste
6292,None,None,None,None,None,None,41,PR,Paraná,4,S,Sul

In [38]:
agrupados.to_csv('municipios.csv', sep=';', index=False)